body {
    background.color; #FFFFE0; 
  font-family: arial,sans-serfif
  color: #191970
}

.kartu profil {
  width: 300px;
  margin: 50px auto; 
  padding: 20px;
  bacground-color: white;
  border-radius: 15px; 
  box-shado: 0 4px 8pxrgba(0,0,0,0.1); 
  text-align:center: 
}


.kartu-profil img {
    width: 150px
    border-radius: 50%; 
}
