body {
    bacground.color; #FFFFE0; /*warna KUNING cerah */
  font-family: arial,sans-serf; /* jenis huruf yang bersih dan mudah dibaca */
  color: #191970 /* warna teks utama (biru gelap)
}

.kartu profil {
  width: 300px;
  margin: 50px auto; 
  padding: 20px;
  bacground-color: white;
  border-radius: 15px; /**
  box-shado: 0 4px 8pxrgba(0,0,0,0.1); 
  text-align:center: /*
}
.kartu-profil img {
    width: 150px
    border-radius: 50%; 
}
